* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    
  }

  .about-part1 {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap; 
  }

  .about-content2 {
    color: black;
  }


.we_are{ 
  font-size: 60px;
  color: #1A237E;
}

.we_are_content{
  font-size: 40px;
  margin-left: 5%;
  margin-top: 10px;
}



.about-part2 {
  position: relative;
  color: #1A237E;
  font-size: 30px;
  text-align: center;
}


.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.about-content2 {
  color: white;
  padding: 100px;
}






.vision_mission {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between the boxes */
}

.vision,
.mission {
  width: 50%;
  flex-basis: calc(50% - 10px); /* Adjusted flex-basis calculation */
  max-width: calc(50% - 10px); /* Adjusted max-width calculation */
  text-align: center;
  background-color: #CDDC39;
  border-radius: 20px;
  padding-bottom: 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}


.v_subheading,
.m_subheading {
  font-size: 40px;
  color: #1A237E;
  background-color: #CDDC39;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 30px auto;
  width: fit-content;
  padding: 10px 20px;
}

.v_subheading:hover,
.m_subheading:hover {
  background-color:rgba(66, 66, 66,1) ;
  color:#ffffff ;
  transform: scale(1.05);
}

.v_content,
.m_content {
  color: black;
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  padding: 0 20px;
  margin-left: 50px;
  margin-right: 50px;
}


.hero-text {
  text-align: center;
  color: #CDDC39;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;
  background-color: #CDDC39;
}

.hero-text h1 {
  font-size: 90px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 40px;
  margin-bottom: 40px;
}



.subheading{
  font-size: 30px;
  color: #1A237E;
  text-align: center;
  font-size: 40px;
}

.values{
  background-color: #CDDC39;
  padding-top: 15px;
  padding-bottom: 15px;
}




/* here*/




#qualities {
  background-color: #ffffff;
  padding: 50px 0;
}

.container{
  margin-left: 50px;
  margin-right: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color: #1A237E;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: transform 0.3s ease;
}

.section-title :hover{
  padding: 10px;
  border-radius: 15px;  
  background-color:rgba(66, 66, 66,1) ;
  color:#CDDC39 ;
  transform: scale(1.05);

}

.container-qualities {  
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . . .";
}


.quality-card {
  text-align: center;
  background-color: #CDDC39;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.quality-card i {
  font-size: 40px;
  margin-bottom: 20px;
  color: #ffffff;
}

.quality-card h3 {
  margin-bottom: 10px;
}


.quality-card:hover {
  transform: scale(1.08);
  background-color: #1A237E;
}

.quality-card:hover h3,
.quality-card:hover p {
  transform: scale(1);
  color: #ffffff;
}



