.logo-container {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .logo-wrapper {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .logo-wrapper img {
    max-height: 100px; /* Adjust as needed */
    margin: 0 40px; /* Adjust spacing between logos */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
