* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  } 
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; /* Ensure the overlay is behind the video */
  }
  
  .hero-text {
    text-align: center;
    color: #CDDC39;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;
  }
  
  .hero-text h1 {
    font-size: 90px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 40px;
    margin-bottom: 40px;
   } 


  .flex-container-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    }

    .flex-items-services{
      border: #CDDC39;
      border-width: 5px;
    }
    
    .flex-items-services:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    }
    
    .flex-items-services:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    }
    
    .flex-items-services img{
      width: 500px;
      height: 300px;
      object-fit: cover;
    }

    .flex-items-services p{
      text-align: center;
    }