* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  } 

  .hero {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.4); /* Adjust the brightness value to darken the video */
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; /* Ensure the overlay is behind the video */
  }
  
  .hero-text {
    text-align: center;
    color: #CDDC39;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;
  }
  
  .hero-text h1 {
    font-size: 90px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 40px;
    margin-bottom: 40px;
   } 


  .flex-container-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    }

    .flex-items-services{
      max-width: 550px;
      border: 5px solid;
      border-color: #1A237E;
      border-radius: 10px;
      /* padding: 20px; */
      margin-bottom: 30px;
      align-items: center;
    }
    
    .flex-items-services:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    }
    
    .flex-items-services:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    }
    
    .flex-items-services img{
      width: 500px;
      height: 300px;
      object-fit: cover;
      padding: 20px;
      margin: 20px;
    }

    .flex-items-services p{
      text-align: center;
      padding-top: 20px;
      font-size: large;
      font-weight: bold;

    }

    .flex-items-services h1{
      text-align: center;
    }

    